<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.navigps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.navigps.permission.MAPS_RECEIVE" />  
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> 
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-feature
    	android:glEsVersion="0x00020000"
    	android:required="true"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_1"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
         <meta-data android:name="com.google.android.maps.v2.API_KEY"
    			   android:value="AIzaSyCvcWAk3NL_2zKnlXmERxhn4letFmFb8w8"/>
        <activity
            android:name="com.navigps.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.navigps.MenuActivity"
            	  android:screenOrientation="portrait"/>
        <activity android:name="com.navigps.MapNavigationActivity"
              	  android:screenOrientation="portrait"/>
        <activity android:name="com.navigps.SettingsActivity"
            	  android:screenOrientation="portrait"/>
        <activity android:name="com.navigps.CreateNewRouteActivity"
            	  android:screenOrientation="portrait"/>
        <activity android:name="com.navigps.DefinedRouteMapActivity"
            	  android:screenOrientation="portrait"/>
        <activity android:name="com.navigps.GpsNavigationActivity"
            	  android:screenOrientation="portrait"/>		
        <activity android:name="com.navigps.DefinedRouteActivity"
            	  android:screenOrientation="portrait"/>	
        <activity android:name="com.navigps.EditProductActivity"
            	  android:screenOrientation="portrait"/>
        <activity android:name="com.navigps.NewProductActivity"	
                  android:screenOrientation="portrait"/>	

        <service android:name="com.navigps.NaviService"/>

        
        
    </application>

</manifest>